/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jersey+25&family=Quicksand:wght@300..700&display=swap');

/* Define variables */
:root {
  --rich-black: #04151F;
  --dark-slate-gray: #183A37;
  --wheat: #EFD6AC;
  --mahogany: #C44900;
  --red: #FF0000;
}


body {
  background-color: var(--wheat);
  font-family: "Quicksand", sans-serif;
  color: black;
}
